@import url("https://fonts.googleapis.com/css?family=Codystar");
body {
  font-family: sans-serif;
}
.title {
  text-align: center;
  line-height: 75px;
  font-size: 48px;
  color: white;
  font-weight: bold;
  font-family: 'Codystar', cursive;
}
.block {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.buttons {
  text-align: center;
}

button {
  border: 2px solid red;
  background-color: #FFF;
  color: #161616;
  text-transform: uppercase;
}
button:hover {
  background-color: #161616;
  color: #FFF;
}

#grid {
  position: relative;
  outline: 1px solid #000;
  font-size: 0;
  margin: auto;
  width: 480px;
  height: 480px;
  padding: 0;
  background-color: #B7B7AD;
}

#etchasketch {
  position: relative;
  background-color: #EB0F0F;
  padding: 75px;
  padding-top: 0;
  padding-bottom: 25px;
  height: 555px;
  width: 480px;
  left: 50%;
  margin-left: -315px;
  top: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

p {
  text-align: center;
}